.main-area {
  position: relative;
  background-color: #626b73;
  min-height: 1000px;
  width: 90vw;
  margin: 0 auto;
  color: white;
  padding-top: 4px;
}

button {
  font-weight: 600;
  color: white;
  background-color: #2cc692;
  font-size: 13px;
  vertical-align: middle;
  box-shadow: none;
  border: none;
  padding: 8px; 
  border-radius: 8px;

}

button:hover {
  background-color: #3ff5b8;
}

input:focus {
  border: 2px solid #2cc692 !important;
  outline: none !important;
}

.user-list-headers {
  display: flex;
  justify-content: center;
  background-color: #484349;
  font-size: 24px;
  font-weight:400;
  height: 60px;
  align-items: center;
  margin: 0 4px;
  border-radius: 8px;
}
.user-list-headers div {
  width: 15%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
}

.new-user-button {
  height: 45px;
  width: 45px;
  font-size: 35px;
  position: absolute;
  top: 11px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-entry {
  display: flex;
  justify-content: center;
  padding: 11px;
  background-color: #484349;
  margin: 4px;
  align-items: center;
  border-radius: 8px;
}

.user-entry div {
  width: 15%;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-edit {
  border: 2px solid #2cc692;;
  justify-content: center;
  background-color: #484349;
  padding: 5vh;
  margin: 7px 4px;
  border-radius: 8px;
}

.user-edit div {
  margin-right: 10px;
}

.user-edit form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-edit input {
  display: block;
  padding: 10px;
  background-color: transparent;
  border:2px solid white;
  border-radius: 8px;
  box-shadow: none;
  color: white;
  font-weight: 400;
}

.user-edit label{
  display: block;
  text-align: left;
  font-size: 12px;
  padding-left: 4px;
  margin-bottom: 4px;
}

.user-edit button {
  height: 40px;
  margin: auto 7px 0 0;
}

.user-edit div {
  min-width: 15%;
}

.edit-button-group {
  display: flex;
  min-width: 20%
}

.edit-button-group button {
  margin-right: 5px;
}

.user-edit .errors {
  text-align: left;
}

.error-list {
  color: #e56e6f;
}